html,
body {
    width: 100%;
    height: 100%;
}
.game-container {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.map-stone {
    width: 1000px;
    height: 500px;
    background: url(./images/map.png) no-repeat center center;
    background-size: cover;
}
.stage {
    height: 420px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
}

.create-monster {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.create-monster li {
    width: 50px;
    height: 50px;
    margin: 5px;
    padding: 10px;
    border: 2px solid #fff;
}
.create-monster li img {
    width: 100%;
}
.monster {
    width: 100px;
}
.monster-stone {
    display: none;
    position: absolute;
    right: 30px;
    bottom: 0;
    width: 80px;
}
.monster .monster-stone img {
    width: 100%;
}
.is-show {
    display: block;
}
.is-hide {
    display: none;
}
.tower-computer,
.tower-user {
    width: 90px;
    padding: 0 20px;
}
.tower-computer progress,
.tower-user progress {
    width: 90px;
    margin: 0 auto;
}
.tower-computer > img,
.tower-user > img {
    width: 100%;
}
